@font-face {
	font-family: jlg-Bold;
			src: url(../fonts/jlg-Bold.otf) format(opentype);
			src: local(../fonts/jlg-Bold.otf) format("opentype"),
			src: url(../fonts/jlg-Bold.woff) format("woff"), 
			src: url(jlg-Bold.eot) format("eot"),
			url("jeanlucweb-bold#webfontup15foyj") format("svg");
}

@font-face {
	font-family: jlg-Thin;
			src: url(../fonts/jlg-Thin.otf) format(opentype);
			src: local(../fonts/jlg-Thin.otf) format("opentype"),
			src: url(../fonts/jlg-Thin.woff) format("woff"), 
			src: url(jlg-Thin.eot) format("eot"),
			url("jeanlucweb-thin#webfontdsa4toug") format("svg");
}


#header,
.blue { 
color: rgb(57,70,140);
}

#header {
font-family: jlg-Bold;
font-size: 150px;
}

body {
text-align: center; 
background-color: black;
color: rgb(238,62,70);
font-family: jlg-Thin, verdana, sans-serif;
font-size: 30px;
}

.ascii {
color: white;
font-size: 20px;
}

.white,
.link {
color: white; 
}

.belmondo {
object-position: 50%, 25%;
height: 300px; 
width: auto;
}

.vcat {
object-position: left 10px top 30px;
}
