

@font-face {
        font-family: jlg-Bold;
                src: url(../fonts/jlg-Bold.otf) format(opentype);
                src: local(../fonts/jlg-Bold.otf) format("opentype"),
                src: url(../fonts/jlg-Bold.woff) format("woff"), 
                src: url(jlg-Bold.eot) format("eot"),
                url("jeanlucweb-bold#webfontup15foyj") format("svg");
}

@font-face {
        font-family: jlg-Thin;
                src: url(../fonts/jlg-Thin.otf) format(opentype);
                src: local(../fonts/jlg-Thin.otf) format("opentype"),
                src: url(../fonts/jlg-Thin.woff) format("woff"), 
                src: url(jlg-Thin.eot) format("eot"),
                url("jeanlucweb-thin#webfontdsa4toug") format("svg");
}

body {
background-color: black;
text-align: center;
font-family: helvetica, verdana, sans-serif;
font-size: 24px;
color: rgb(238,62,70);
}

.home,
.hag,
.head {
color: rgb(57,70,140);
font-family: jlg-Bold, Verdana, sans-serif;
}

.hag {
font-size: 45px;
}

.home {
font-size: 40px;
}

.head {
font-size: 100px;
}

del {
color: white;
}

