

@font-face {
        font-family: jlg-Thin;
                src: url("../fonts/jlg-Thin.woff") format("woff");
                font-weight: normal;
                font-size: normal;
}

@font-face {
        font-family: jlg-Bold;
                src: url("../fonts/jlg-Bold.woff") format("woff");
                font-weight: bold;
                font-size: normal;

}

h1 {
color: rgb(57,70,140);
font-family: jlg-Bold, Verdana, sans-serif;
font-size: 100px;
}

h2 {
color: rgb(225,225,225);
font-family: jlg-Bold, Verdana, sans-serif;
font-size: 36px;
}

body {
background-color: black;
color: rgb(238,62,70);
text-align: left;
font-family: helvetica, verdana, sans-serif;
font-size: 20px;
text-align: center;
}
