


@font-face {
        font-family: jlg-Thin;
                src: url("../fonts/jlg-Thin.woff") format("woff");
                font-weight: normal;
                font-size: normal;
}

@font-face {
        font-family: jlg-Bold;
                src: url("../fonts/jlg-Bold.woff") format("woff");
                font-weight: bold;
                font-size: normal;

}

body {
background-color: black;
text-align: center;
font-family: helvetica, verdana, sans-serif;
font-size: 24px;
color: rgb(238,62,70);
}

.home,
.hag,
.head {
color: rgb(57,70,140);
font-family: jlg-Bold, Verdana, sans-serif;
}

.hag {
font-size: 45px;
}

.home {
font-size: 40px;
}

.head {
font-size: 100px;
}

del {
color: white;
}

